# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
Icon?
.Spotlight-V100
.Trashes

# Xcode
xcuserdata/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
DerivedData/
.swiftpm/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcuserstate
*.xcscmblueprint
*.xccheckout
*.xcodeproj
*.xcworkspace
!default.xcworkspace

# Swift Package Manager
.build/
Package.resolved

# Firebase
GoogleService-Info.plist
firebase-debug.log
.firebase/
firebase-debug.*.log

# Build
build/
*.ipa
*.dSYM.zip
*.dSYM

# Environment variables
.env
.env.*

# Other
*.log
*.swp
*.lock
profile
